In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests

#### if response code is 403
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
requests.get('url',headers=headers).text

In [2]:
header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36"}
webPage = requests.get(
    rf"https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={1}", headers=header).text

In [3]:
soup = BeautifulSoup(webPage, "lxml")

In [4]:
company = soup.find_all("div", class_ ="company-content-wrapper")

In [5]:
len(company)

30

In [6]:
name = []
rating = []
reviews = []
pubpvt=[]
location=[]
yearold=[]
emp=[]
about=[]
for i in company:
    name.append(i.find("h2").text.strip())
    rating.append(i.find("p", class_="rating").text.strip())
    reviews.append(i.find('a', class_="review-count").text.strip())
    pubpvt.append(i.find_all('p', class_="infoEntity")[0].text.strip())
    location.append(i.find_all('p', class_="infoEntity")[1].text.strip())
    yearold.append(i.find_all('p', class_="infoEntity")[2].text.strip())
    emp.append(i.find_all('p', class_="infoEntity")[3].text.strip())
    about.append(soup.find('p', class_="description").text.strip())

In [7]:
name[0], rating[0], reviews[0], pubpvt[0], location[0], yearold[0],emp[0], about[0]

('TCS',
 '3.9',
 '(52.2k Reviews)',
 'Public',
 'Mumbai,Maharashtra + 274 more',
 '55 years old',
 '1 Lakh+ Employees (India)',
 'We ensure the highest levels of certainty and satisfaction through a deep-set commitment to our clients, comprehensive industry expertise and a global network of innovation and delivery centers.\n\nWe function as a full stakeholder to business, offering a consulting-led approach with an integrated portfolio of technology led solutions that encompass the entire Enterprise value chain. Our Customer-centric Engagement Model defines how we do engage with you, offering specialized services and solutions that meet the distinct needs of your business.\n\nWe build bespoke teams around your domain and technology requirements drawn from our talent pool of over 488,649 global professionals including 36.5% women from 154 nationalities. Our domain expertise has been built upon decades of experience working across industries and this knowledge underpins our suite of solutions.\n\nOur organization structure is domain led and empowered to help provide Customers a single window to industry specific solutions. Agile industry units have embedded capabilities to enable rapid responses that provide a competitive edge to our Customers. This is coupled with a unique Global Network Delivery Model™ (GNDM™), spanning 40 global locations, that is today recognized as the benchmark of excellence in technology deployment.\n\nWe have made significant investments in Digital platforms and products spanning Technology Products, Horizontal Platforms and Products, Vertical Platforms and Products.')

In [8]:
d = {"name": name, "rating": rating, "reviews": reviews,
     "type": pubpvt, "hq": location, "Old": yearold,"employees":emp,"about":about}
pd.DataFrame(d)

,name,rating,reviews,type,hq,Old,employees,about
0,TCS,3.9,(52.2k Reviews),Public,"Mumbai,Maharashtra + 274 more",55 years old,1 Lakh+ Employees (India),We ensure the highest levels of certainty and ...
1,Accenture,4.1,(33.2k Reviews),Public,Dublin + 131 more,34 years old,1 Lakh+ Employees (India),We ensure the highest levels of certainty and ...
2,Cognizant,3.9,(30.6k Reviews),Private,Teaneck. New Jersey. + 102 more,29 years old,1 Lakh+ Employees (India),We ensure the highest levels of certainty and ...
3,ICICI Bank,4.0,(34.5k Reviews),Public,"Mumbai,Maharashtra + 1065 more",29 years old,1 Lakh+ Employees (India),We ensure the highest levels of certainty and ...
4,HDFC Bank,4.0,(40.5k Reviews),Public,"Mumbai,Maharashtra + 1282 more",29 years old,50k-1 Lakh Employees (India),We ensure the highest levels of certainty and ...
5,Wipro,3.9,(29.8k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 228 more",78 years old,1 Lakh+ Employees (India),We ensure the highest levels of certainty and ...
6,Infosys,3.9,(29.2k Reviews),Public,"Bengaluru/Bangalore,Karnataka + 128 more",42 years old,1 Lakh+ Employees (India),We ensure the highest levels of certainty and ...
7,Capgemini,3.9,(24.6k Reviews),Public,Paris + 79 more,56 years old,1 Lakh+ Employees (India),We ensure the highest levels of certainty and ...
8,Tech Mahindra,3.7,(22.2k Reviews),Public,"Pune,Maharashtra + 210 more",37 years old,50k-1 Lakh Employees (India),We ensure the highest levels of certainty and ...
9,Genpact,4.0,(20k Reviews),Public,"New York,New York + 69 more",26 years old,50k-1 Lakh Employees (India),We ensure the highest levels of certainty and ...
10,HCLTech,3.8,(19.1k Reviews),Public,"Noida,Uttar Pradesh + 141 more",32 years old,1 Lakh+ Employees (India),We ensure the highest levels of certainty and ...
11,Amazon,4.2,(19.3k Reviews),Public,"Seattle,Washington + 381 more",29 years old,1 Lakh+ Employees (India),We ensure the highest levels of certainty and ...
12,Axis Bank,3.9,(19k Reviews),Public,"Mumbai,Maharashtra + 1113 more",30 years old,50k-1 Lakh Employees (India),We ensure the highest levels of certainty and ...
13,Concentrix Corpo...,4.0,(15.4k Reviews),Public,"Fremont,California + 70 more",40 years old,10k-50k Employees (India),We ensure the highest levels of certainty and ...
14,IBM,4.2,(15.6k Reviews),Public,"Armonk,New York + 122 more",112 years old,50k-1 Lakh Employees (India),We ensure the highest levels of certainty and ...
15,Reliance jio,4.0,(15.1k Reviews),Public,"Navi Mumbai,Maharashtra + 1008 more",16 years old,50k-1 Lakh Employees (India),We ensure the highest levels of certainty and ...
16,Larsen & Toubro ...,4.1,(24.8k Reviews),Public,"Mumbai,Maharashtra + 532 more",77 years old,10k-50k Employees (India),We ensure the highest levels of certainty and ...
17,HDB Financial Se...,4.0,(13.7k Reviews),Private,"Ahmedabad,Gujrat + 806 more",16 years old,1 Lakh+ Employees (India),We ensure the highest levels of certainty and ...
18,Vodafone Idea,4.2,(13.3k Reviews),Public,"Gandhinagar,Gujrat + 573 more",5 years old,10k-50k Employees (India),We ensure the highest levels of certainty and ...
19,Teleperformance,3.6,(14.8k Reviews),Private,Paris + 122 more,45 years old,50k-1 Lakh Employees (India),We ensure the highest levels of certainty and ...
20,Reliance Retail,4.1,(17.3k Reviews),Private,"Navi Mumbai,Maharashtra + 721 more",17 years old,1 Lakh+ Employees (India),We ensure the highest levels of certainty and ...
21,Kotak Mahindra B...,3.9,(13.8k Reviews),Public,"Mumbai,Maharashtra + 478 more",20 years old,10k-50k Employees (India),We ensure the highest levels of certainty and ...
22,Deloitte,4.1,(10.6k Reviews),Private,"New York,New York + 132 more",178 years old,10k-50k Employees (India),We ensure the highest levels of certainty and ...
23,Reliance Industr...,4.1,(45.8k Reviews),Public,"Navi Mumbai,Maharashtra + 508 more",50 years old,10k-50k Employees (India),We ensure the highest levels of certainty and ...
24,Bharti Airtel,4.1,(12.6k Reviews),Public,"Gurgaon/Gurugram,Haryana + 532 more",28 years old,10k-50k Employees (India),We ensure the highest levels of certainty and ...
25,BYJU'S,3.5,(13.7k Reviews),Private,"Bangalore,Karnataka + 261 more",12 years old,1k-5k Employees (India),We ensure the highest levels of certainty and ...
26,Tata Motors,4.1,(12.2k Reviews),Public,"Pune,Maharashtra + 391 more",78 years old,10k-50k Employees (India),We ensure the highest levels of certainty and ...
27,Flipkart,4.2,(12.3k Reviews),Public,"Bangalore,Karnataka + 454 more",16 years old,10k-50k Employees (India),We ensure the highest levels of certainty and ...
28,WNS,3.7,(7.1k Reviews),Private,"Mumbai,Maharashtra + 24 more",27 years old,10k-50k Employees (India),We ensure the highest levels of certainty and ...
29,Mahindra & Mahin...,3.9,(40.1k Reviews),Public,"Mumbai,Maharashtra + 424 more",78 years old,1 Lakh+ Employees (India),We ensure the highest levels of certainty and ...

In [9]:
name = []
rating = []
reviews = []
pubpvt = []
location = []
yearold = []
emp = []
about = []
for i in range(1, 11):
    header = {
        "User-Agent": "Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36"}
    webPage = requests.get(
        rf"https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={i}", headers=header).text
    soup = BeautifulSoup(webPage, "lxml")
    company = soup.find_all("div", class_="company-content-wrapper")
    for j in company:
        name.append(j.find("h2").text.strip())
        rating.append(j.find("p", class_="rating").text.strip())
        reviews.append(j.find('a', class_="review-count").text.strip())
        pubpvt.append(j.find_all('p', class_="infoEntity")[0].text.strip())
        try:
            location.append(j.find_all(
                'p', class_="infoEntity")[1].text.strip())
        except:
            location.append(np.nan)
        try:
            yearold.append(j.find_all('p', class_="infoEntity")
                           [2].text.strip())
        except:
            yearold.append(np.nan)
        try:
            emp.append(j.find_all('p', class_="infoEntity")[3].text.strip())
        except:
            emp.append(np.nan)
        try:
            about.append(j.find('p', class_="description").text.strip())
        except:
            about.append(np.nan)

In [10]:
d = {"name": name, "rating": rating, "reviews": reviews,
     "type": pubpvt, "hq": location, "Old": yearold,"about":about}
pd.DataFrame(d)

,name,rating,reviews,type,hq,Old,about
0,TCS,3.9,(52.2k Reviews),Public,"Mumbai,Maharashtra + 274 more",55 years old,We ensure the highest levels of certainty and ...
1,Accenture,4.1,(33.2k Reviews),Public,Dublin + 131 more,34 years old,Accenture is a global professional services co...
2,Cognizant,3.9,(30.6k Reviews),Private,Teaneck. New Jersey. + 102 more,29 years old,"At Cognizant, we give organizations the insigh..."
3,ICICI Bank,4.0,(34.5k Reviews),Public,"Mumbai,Maharashtra + 1065 more",29 years old,ICICI Bank is a leading private sector bank in...
4,HDFC Bank,4.0,(40.5k Reviews),Public,"Mumbai,Maharashtra + 1282 more",29 years old,The Housing Development Finance Corporation Li...
...,...,...,...,...,...,...,...
295,HDFC Sales,4.0,(1.5k Reviews),Private,"Mumbai,Maharashtra + 229 more",19 years old,"Headquartered in Mumbai, HDFC Sales was formed..."
296,HCL Infosystems,4.0,(1.4k Reviews),Public,"Noida,Uttar Pradesh + 102 more",47 years old,HCL Infosystems handles IT from A to Z. The co...
297,ACT Fibernet,4.1,(1.5k Reviews),Private,"Bengaluru/Bangalore,Karnataka + 37 more",23 years old,ACT (Atria Convergence Technologies Ltd.) was ...
298,Micro Labs,3.8,(1.4k Reviews),Private,"Bangalore/Bengaluru,Karnataka + 96 more",50 years old,"Established in 1973, Micro Labs Limited is a m..."
299,Delhi Public Sch...,3.9,(1.4k Reviews),Public,"Greater Noida,Uttar Pradesh + 210 more",25 years old,"The DPS Society is a non-profit, non-proprieta..."

# End